$font-size-base: .8rem;
$border-radius: .15rem;
$btn-box-shadow: none;
$btn-active-box-shadow: none;
$input-btn-focus-box-shadow: none;

.absolute-full {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
